@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: linear-gradient(135deg, #f79595, #f0c27b);
  color: white;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
h1{
  font-family: 'oswald', sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}
p{
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.skills{
  display: flex;
  list-style:none ;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.skills li{
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
  transition: tranform 0.3s;
}
.skills li:hover{
  transform: scale(1.1);
}
.btn-cotainer{
  margin-top: 30px;
}
.btn{
  text-decoration: none;
  color: #f79595;
  background: white;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s, color 0.3s;
}
.btn:hover{
   background: rgba(255, 255, 255, 0.8);
   color: #f79595;
   transform: scale(1.05);
   transition: all 0.3s ease;
}